.sizing {
    width: 90%;
    margin: 2% auto;
}

.bottom-sticky {
    position: sticky;
    bottom: 20px;
}

.border-box {
    background-color: white;
    border: 1px solid;
    padding: 12px 30px 18px 30px;
    border-radius: 20px;
}

.icon {
    width: 28px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 0;
}

span {
    color: #91979d;
    font-size: small;
    font-weight: 200;
}